@import "common.scss";
@import "mixin.scss";
.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include box_flex;
    @include direction(column);
    background: #ccc;
}

header {
    width: 100%;
    height: pxTorem(44px);
    background: #fff;
    @include box_flex;
    @include justify(space-between);
    .list {
        width: 100%;
        height: pxTorem(44px);
        @include box_flex;
        @include align(center);
        // @include justify(space-between);
        justify-content: space-around;
        li {
            color: black;
        }
        &.active {
            color: red;
        }
    }
}

.con {
    width: 100%;
    @include flex;
    .banner {
        width: 100%;
        height: pxTorem(160px);
        img {
            width: 100%;
            height: 100%;
        }
    }
}

h2 {
    font-size: pxTorem(16px);
    // margin-top: pxTorem(10px);
    height: pxTorem(44px);
    line-height: pxTorem(44px);
    // margin-left: pxTorem(5px);
    background: #fff;
}

.con-title {
    width: 100%;
    height: 100%;
    background: #fff;
    dl {
        @include box_flex;
    }
}